<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/search.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col" id="demo">
	<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" id="search_string">
      <input type="button" class="btn btn-outline-success my-2 my-sm-0"  onclick="myFunction()" value="Submit">
    </form>
	</nav>
    </div>
  </div>

<!--<div class="container"> -->
<div class="row">
    <div class="col">
	<table class="table" id="myTable">
    <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Product Name</th>
   <!--   <th scope="col">Category</th> -->
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Add</th>
    </tr>
  </thead>
  <tbody id="product">
    <!-- forloop -->
{% for row in data %}
<tr>
    <td>{{ row.0 }}</td><td>{{ row.1 }}</td><td>{{ row.2 }}</td>
    <td><input type="number" name="quantity" value="1" min="1" style="width: 70px"></td>
    <td><button type="button" class="btn btn-primary btn-sm" onclick="onclickFuction({{ row.0 }})">Add To Cart</button></td>

</tr>
{% endfor %}

    <!-- END-->
<!--
    <tr>
      <th scope="row">1</th>
      <td>Milk</td>
      <td>Grocery</td>
      <td>20</td>
      <td><input type="number" name="quantity" value="1" min="1" style="width: 70px"></td>
      <td><button type="button" class="btn btn-primary btn-sm">Add To Cart</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bottle</td>
      <td>Home & Kitchen</td>
      <td>200</td>
      <td><input type="number" name="quantity" value="1" min="1" style="width: 70px"></td>
      <td><button type="button" class="btn btn-primary btn-sm">Add To Cart</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mobile</td>
      <td>Electronic</td>
      <td>10,000</td>
      <td><input type="number" name="quantity" value="1" min="1" style="width: 70px"></td>
      <td><button type="button" class="btn btn-primary btn-sm">Add To Cart</button></td>
    </tr>

-->
  </tbody>
</table>
    </div>
  </div>
<!--</div> ..>
<!--<div class="container d-none"> -->
  {{product_detail}}
  <div class="row" id="div">
    <div class="col-6">

  <h4>
    <span class="text-muted"> Your cart {{product_detail}} </span>
    <!--<span class="badge badge-secondary badge-pill"> 3 </span> -->
  </h4>  
  <ul class="list-group mb-3" id="list">
<!--     <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Product name</h6>
        <small class="text-muted">Brief description</small>
      </div>
      <span class="text-muted">
        20
      </span>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Second Product</h6>
        <small class="text-muted">Brief description</small>
      </div>
      <span class="text-muted">
        200
      </span>
    </li>

<li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">Third Product</h6>
        <small class="text-muted">Brief description</small>
      </div>
      <span class="text-muted">
        10,000
      </span>
    </li>
<li class="list-group-item d-flex justify-content-between">
  <span>Total (USD)</span>
  <strong>10,220</strong>
</li> -->

  </ul>
<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Checkout</button>
</div>
</div>
</div>
</body>
</html>